.navbar-avatar {
    height: 100px;
    border: 0.125rem solid $primaryColor;
    margin: 1rem;
    cursor: pointer;
}

.profile-avatar {
    height: 200px;
    border: 0.125rem solid $primaryColor;
    margin: 1rem;
    cursor: pointer;
}
