@import "./variables";
@import "./logo";
@import "./app";
@import "./profilepic";
@import "./uploader";
@import "./bioeditor";
@import "./findpeople";
@import "./chat";
@import "./friends-and-wannabees";

* {
    box-sizing: border-box;
}

body {
    background-color: $primaryColor;
    font-family: "Poppins", sans-serif;
    color: $fifthColor;
}

button {
    background-color: $fourthColor;
    color: $fifthColor;
    border: 1px solid $fourthColor;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}

h1 {
    font-size: 5rem;
}

a {
    color: $fifthColor;
}

form {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
}

#welcome {
    text-align: center;
}
