#logo-wrapper {
  font-size: 10rem;
  background-color: #012e40;
  border: 1rem solid #f2e3d5;
  color: #f2e3d5;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

.app-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-wrapper-app-start {
  font-size: 5rem;
  background-color: #012e40;
  color: #f2e3d5;
  padding: 0.5rem;
  border: 0.5rem solid #f2e3d5;
  text-align: center;
  margin: 0.5rem;
}

.profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  gap: 2rem;
}

.navbar-avatar {
  height: 100px;
  border: 0.125rem solid #012e40;
  margin: 1rem;
  cursor: pointer;
}

.profile-avatar {
  height: 200px;
  border: 0.125rem solid #012e40;
  margin: 1rem;
  cursor: pointer;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: #191919;
}

#modal-container {
  position: relative;
  background-color: #f2e3d5;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 0.25rem solid #f2e3d5;
  width: 75%;
}

#modal-container button {
  cursor: pointer;
}

#closeModal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findpeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findpeople h1 {
  font-size: 2.5rem;
}

.findpeople-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findpeople-avatar {
  height: 150px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #012e40;
  font-family: "Poppins", sans-serif;
  color: #f2e3d5;
}

button {
  background-color: #191919;
  color: #f2e3d5;
  border: 1px solid #191919;
}

h1 {
  font-size: 5rem;
}

a {
  color: #f2e3d5;
}

#welcome {
  text-align: center;
}

.chat-container {
  height: 30vh;
  width: 500px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow-y: scroll;
  border: 0.125rem solid #191919;
}

.chat-container img {
  float: left;
}

.chat-container p {
  color: #f2e3d5;
}

.chat-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */