* {
    box-sizing: border-box;
}

body {
    background-color: #bfdbae;
    font-family: Monopoly;
}

button {
    background-color: #d7baaa;
    color: white;
}

h1 {
    font-size: 5rem;
}

#welcome {
    text-align: center;
}

.app-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-wrapper {
    font-size: 10rem;
    background-color: #c70000;
    border: 1rem solid white;
    color: white;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

#logo-wrapper-app-start {
    height: 100px;
    font-size: 5rem;
    background-color: #c70000;
    color: white;
    padding: 0.5rem;
    border: 0.5rem solid white;
    text-align: center;
    margin: 0.5rem;
}

.navbar-avatar {
    height: 100px;
    border: 0.125rem solid #c70000;
    margin: 0.5rem;
}

.profile-avatar {
    height: 200px;
    border: 0.125rem solid #c70000;
}

.profile-section {
    display: flex;
    margin: 1rem;
    gap: 2rem;
    border: 0.125rem solid #8fbc72;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-container {
    background-color: white;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border: 0.25rem solid #d7baaa;
    width: 75%;
}

.chat-container {
    height: 30vh;
    width: 500px;
    background-color: #d7baaa;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    border: 0.125rem solid #8fbc72;
}

.chat-container img {
    float: left;
}

.chat-wrapper {
    display: grid;
    justify-content: center;
}

.findPeople-container {
    display: grid;
    justify-content: center;
    border: 0.125rem solid #8fbc72;
    padding: 1rem;
}
