.chat-container {
    height: 50vh;
    width: 500px;
    background-color: $fourthColor;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    border: 0.125rem solid $fourthColor;
}

.chat-container img {
    float: left;
}

.chat-container p {
    color: $fifthColor;
}

.chat-wrapper {
    display: grid;
    justify-content: center;
}
